{% if mlist %}
{% for m in mlist %}
<tr>
        <!-- <td>        <img src="{{STATIC_URL}}{{m.pic_url }}" > </td> -->
        <td>        <img rel="noreferrer" src="{{m.pic_url }}" > </td> 
        <td>
                <li>中文名：{{ m.cname }}</li>
                <li>英文名：{{ m.ename }}</li>
            <li>主演：{{ m.actors }}</li>
            <li>导演：{{ m.director }}</li>
            <li>地区：{{ m.location }}</li>
            <li>类型：{{ m.type }}</li>
            <li>豆瓣链接：<a href="{{ m.douban_link }}"> {{m.douban_link}}</a></li>
    </td>
    <td>{{m.rate}}</td>
    <td>{{m.date}}</td>
    <td>{{m.found_date}}</td>
    <td>
            {% for d in m.links %}
                <li><a href=" {{ d.url}} " > {{ d.title}}</a> </li>
                {% endfor %}
        </td>
 </tr>
{% endfor %}
</ul>
{% else %}
<p>No movie are available.</p>
<p>oh shit，i wanna fuck myself.</p>
{% endif %}
