
               {% if mlist %}
                {% for m in mlist %}
                <div class="col-md-1" style="width:250px;height:350px;">
                        <table class="table table-bordered">
                                <tr>
                                        <th style="width:250px;height:350px;">

                                                <div>
                                                        <img src="http://img5.douban.com/mpic/s24232439.jpg">
                                                </div>
                                            <div>{{m.cname}}</div>
                                               <div>
                                                      主演:
                                                     <font size="2">
                                                    {{m.actors}}
                                            </font>
                                               </div>
                                                <div>豆瓣：{{m.rate}}</div>
                                                    
                                                <div>imdb:{{m.imdb_rate}}</div>

                                </th> 
                                </tr>
                        </table>



                </div>
                {% endfor %}

{% else %}
<p>No movie are available.</p>
<p>oh shit，i wanna fuck myself.</p>
{% endif %}
