<head>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.3.js"></script>
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script type="text/javascript">

                var domain = 'main/content'
                var type_map = new Map();
                var type = ""
                var rate = false
                var date = false
                var search_key =""
                var found_date = false
                function Map(){
                        this.container = new Object();
                }

Map.prototype.remove = function(key) {
        delete this.container[key];
}

Map.prototype.put = function(key, value){
        this.container[key] = value;
}   


Map.prototype.get = function(key){
        return this.container[key];
}

Map.prototype.keySet = function() {
        var keyset = new Array();
        var count = 0;
        for (var key in this.container) {
                // 跳过object的extend函数
                if (key == 'extend') {
                        continue;
                }
                keyset[count] = key;
                count++;
        }
        return keyset;
}
function  params_str()
{
        var str ="search_key="+ search_key + "&type=" +type +"&rate="+rate +"&date="+ date +"&found_date=" +found_date
                return str
}
$(document).ready(function(){
                $("#but-rate").click(function(){
                        rate =true
                        $("#content").load(domain,params_str());
                        rate =false
                        });
                $("#but-date").click(function(){
                        date =true
                        $("#content").load(domain,params_str());
                        date = false
                        });
                $("#but-found-date").click(function(){
                        found_date =true
                        $("#content").load(domain,params_str());
                        found_date = false
                        });

                $("button[id^='type']").click(function(e){
                        var choose = 0;
                        if ( $( e.target).attr("class") =="btn btn-lg btn-info" ){
                        type=""
                        $( e.target).attr("class","btn btn-default")
                        }else
                        {
                        $("button[id^='type']").attr("class","btn btn-default")
                        type = $(e.target).attr("id").split("-")[1];
                        $( e.target).attr("class","btn btn-lg btn-info");
                        }
                        $("#content").load(domain ,params_str());

                        });
                $("button[id='search']").click(function(){
                                search_key =       $('input[id=\'input_search\']').val(); 
                                $("#content").load(domain,params_str());
                                });


});
</script>
</head>
<body>
        <div class='row'  style="width:1500px;margin:0 auto">
        <div class="col-lg-6">
                <div class="input-group">
                        <input type="text" class="form-control" id="input_search" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" id="search" type="button">Go!</button>
                        </span>
                </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div>

        <div class='row'  style="width:1500px;margin:0 auto">
        <p> 本站点使用jquery2，因此不支持ie 6,7,8 !!!</p>
        </div>

<div class='row'  style="width:1500px;margin:0 auto">
        <td> 按类型 </td>
        <td> 
                <button type="button" id="type-xiju" class="btn btn-default">喜剧</button>
        </td>

        <td> 

                <button type="button" id="type-dongzuo" class="btn btn-default">动作</button>
        </td>
        <td> 
                <button type="button" id="type-donghua" class="btn btn-default">动画</button>
        </td>
        <td> 
                <button type="button" id="type-juqing" class="btn btn-default">剧情</button>
        </td>
        <td> 

                <button type="button" id="type-jiating" class="btn btn-default">家庭</button>
        </td>
        <td> 
                <button type="button" id="type-kehuan" class="btn btn-default">科幻</button>
        </td>
        <td> 
                <button type="button" id="type-maoxian" class="btn btn-default">冒险</button>
        </td>
        <td> 
                <button type="button" id="type-xuanyi" class="btn btn-default">悬疑</button>
        </td>
        <td> 

                <button type="button" id="type-kongbu" class="btn btn-default">恐怖</button>
        </td>
        <td> 
                <button type="button" id="type-qihuan" class="btn btn-default">奇幻</button>
        </td>
        <td> 
                <button type="button" id="type-jingsong" class="btn btn-default">惊悚</button>
        </td>
        <td> 
                <button type="button" id="type-zhanzheng" class="btn btn-default">战争</button>
        </td>



</div>
<div>
        <div id="content" class='row'  style="width:1500px;margin:0 auto">

                {% if mlist %}
                {% for m in mlist %}
                <div class="col-md-1" style="width:250px;height:350px;">
                        <table class="table table-bordered">
                                <tr>
                                        <th style="width:250px;height:350px;">

                                                <div>
                                                        <img src="http://img5.douban.com/mpic/s24232439.jpg">
                                                </div>
                                            <div>{{m.cname}}</div>
                                               <div>
                                                      主演:
                                                     <font size="2">
                                                    {{m.actors}}
                                            </font>
                                               </div>
                                                <div>豆瓣：{{m.rate}}</div>
                                                    
                                                <div>imdb:{{m.imdb_rate}}</div>

                                </th> 
                                </tr>
                        </table>



                </div>
                {% endfor %}
                {% endif %}
        </div>
</div>

</body>
